@charset "UTF-8";

/* example =========================== */

/* @font-face {
  font-family: "HelveticaNeueCyr-Bold";
  src: url("../fonts/HelveticaNeueCyr-Bold/fonts/HelveticaNeueCyr-Bold.eot");
  src: local("☺"), url("../fonts/HelveticaNeueCyr-Bold/HelveticaNeueCyr-Bold.woff") format("woff"), url("../fonts/HelveticaNeueCyr-Bold/HelveticaNeueCyr-Bold.ttf") format("truetype"), url("../fonts/HelveticaNeueCyr-Bold/HelveticaNeueCyr-Bold.svg") format("svg");
  font-weight: normal;
  font-style: normal; } */

  @font-face {
    font-family: 'Roboto-Black';
    src: url('../fonts/Roboto-Black/Roboto-Black.eot');
    src: url('../fonts/Roboto-Black/Roboto-Black.eot') format('embedded-opentype'),
        url('../fonts/Roboto-Black/Roboto-Black.woff2') format('woff2'),
        url('../fonts/Roboto-Black/Roboto-Black.woff') format('woff'),
        url('../fonts/Roboto-Black/Roboto-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
  font-family: 'Roboto-Slab-Regular';
  src: url('../fonts/Roboto-Slab-Regular/RobotoSlab-Regular.eot');
  src: url('../fonts/Roboto-Slab-Regular/RobotoSlab-Regular.eot') format('embedded-opentype'),
      url('../fonts/Roboto-Slab-Regular/RobotoSlab-Regular.woff2') format('woff2'),
      url('../fonts/Roboto-Slab-Regular/RobotoSlab-Regular.woff') format('woff'),
      url('../fonts/Roboto-Slab-Regular/RobotoSlab-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Italic';
  src: url('../fonts/Roboto-Italic/Roboto-Italic.eot');
  src: url('../fonts/Roboto-Italic/Roboto-Italic.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Roboto-Italic/Roboto-Italic.woff2') format('woff2'),
      url('../fonts/Roboto-Italic/Roboto-Italic.woff') format('woff'),
      url('../fonts/Roboto-Italic/Roboto-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'RobotoSlab-Bold';
  src: url('../fonts/RobotoSlab-Bold/RobotoSlab-Bold.eot');
  src: url('../fonts/RobotoSlab-Bold/RobotoSlab-Bold.eot') format('embedded-opentype'),
      url('../fonts/RobotoSlab-Bold/RobotoSlab-Bold.woff2') format('woff2'),
      url('../fonts/RobotoSlab-Bold/RobotoSlab-Bold.woff') format('woff'),
      url('../fonts/RobotoSlab-Bold/RobotoSlab-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'RobotoCondensedBold-Italic';
  src: url('../fonts/RobotoCondensedBold-Italic/RobotoCondensed-BoldItalic.eot');
  src: url('../fonts/RobotoCondensedBold-Italic/RobotoCondensed-BoldItalic.eot?#iefix') format('embedded-opentype'),
      url('../fonts/RobotoCondensedBold-Italic/RobotoCondensed-BoldItalic.woff2') format('woff2'),
      url('../fonts/RobotoCondensedBold-Italic/RobotoCondensed-BoldItalic.woff') format('woff'),
      url('../fonts/RobotoCondensedBold-Italic/RobotoCondensed-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'RobotoCondensedLight-Italic';
  src: url('../fonts/RobotoCondensedLight-Italic/RobotoCondensed-LightItalic.eot');
  src: url('../fonts/RobotoCondensedLight-Italic/RobotoCondensed-LightItalic.eot?#iefix') format('embedded-opentype'),
      url('../fonts/RobotoCondensedLight-Italic/RobotoCondensed-LightItalic.woff2') format('woff2'),
      url('../fonts/RobotoCondensedLight-Italic/RobotoCondensed-LightItalic.woff') format('woff'),
      url('../fonts/RobotoCondensedLight-Italic/RobotoCondensed-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'RobotoMedium';
  src: url('../fonts/RobotoMedium/Roboto-Medium.eot');
  src: url('../fonts/RobotoMedium/Roboto-Medium.eot?#iefix') format('embedded-opentype'),
      url('../fonts/RobotoMedium/Roboto-Medium.woff2') format('woff2'),
      url('../fonts/RobotoMedium/Roboto-Medium.woff') format('woff'),
      url('../fonts/RobotoMedium/Roboto-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'RobotoSlabLight';
  src: url('../fonts/RobotoSlabLight/RobotoSlab-Light.eot');
  src: url('../fonts/RobotoSlabLight/RobotoSlab-Light.eot?#iefix') format('embedded-opentype'),
      url('../fonts/RobotoSlabLight/RobotoSlab-Light.woff2') format('woff2'),
      url('../fonts/RobotoSlabLight/RobotoSlab-Light.woff') format('woff'),
      url('../fonts/RobotoSlabLight/RobotoSlab-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
